button {
    width: 300px;
    height: 150px;
}

.fakeLink, #spLink {
    color: blue;
    cursor: pointer;
}

.countNum {
    width: 50px;
}

#mainMenu {
    display: flex;
}

.column {
    flex: 50%;
}

[hidden=true], .hide {
    display: none !important;
}